@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: #DBF1E0;
  color: black;
  text-align: center;
}

.jumbotron {
  background-color: #DBF1E0;
  color: black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form label {
  font-size: 25px;
}

#river {
  font-size: 40px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
